# UpcycleConnect – Environnement

POSTGRES_USER=admin
POSTGRES_PASSWORD=1234esgi
POSTGRES_DB=upcycleconnect

# DeepL API (traduction automatique runtime de l'interface)
DEEPL_AUTH_KEY=

# Stripe (test mode)
STRIPE_SECRET_KEY=sk_test_51TMSkKPm4rPOhuIaOhPnj5tx2qn3MSZnvkjeKw5P1SaeWRteSFRKBl4qfIKYMkSfDZaMsY4RQblk0GPWFAfSRyRI00sYPbadtE
STRIPE_WEBHOOK_SECRET=whsec_8P8IPzIYP1CXMXWLOaG9NCPn9udZ7u1o
STRIPE_SUCCESS_URL=http://localhost:3000/annonces/mes-recuperations?stripe=success&session_id={CHECKOUT_SESSION_ID}
STRIPE_CANCEL_URL=http://localhost:3000/annonces/mes-recuperations?stripe=cancel

# Registre Docker (prod images)
IMAGE_REGISTRY=ghcr.io
IMAGE_NAMESPACE=your-github-username-or-org
IMAGE_TAG=latest
# Optionnel: mettre never pour ignorer GHCR et build local en prod
# PROD_IMAGE_PULL_POLICY=never
