# UpcycleConnect – Environnement

POSTGRES_USER=admin
POSTGRES_PASSWORD=1234esgi
POSTGRES_DB=upcycleconnect

# Registre Docker (prod images)
IMAGE_REGISTRY=ghcr.io
IMAGE_NAMESPACE=your-github-username-or-org
IMAGE_TAG=latest
