# Dependances
node_modules/

# Next.js
.next/
out/

# Environment
.env

# PostgreSQL data (si ça run en dehors de Docker)
pgdata/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log

# Build Artifacts
tmp/
dist/
